@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle")?.ToString() ?? null;
    var ceoImage = Model?.Value<IPublishedContent>("CeoImage")?.Url() ?? "";
    var reviewRatingImage = Model?.Value<IPublishedContent>("ReviewRatingImage")?.Url() ?? "";
    var reviewImage = Model?.Value<IPublishedContent>("ReviewImage")?.Url() ?? "";
    var teamImage1 = Model?.Value<IPublishedContent>("TeamImage1")?.Url() ?? "";
    var teamImage2 = Model?.Value<IPublishedContent>("TeamImage2")?.Url() ?? "";
    var teamImage3 = Model?.Value<IPublishedContent>("TeamImage3")?.Url() ?? "";
    var teamImage4 = Model?.Value<IPublishedContent>("TeamImage4")?.Url() ?? "";
    var teamImage5 = Model?.Value<IPublishedContent>("TeamImage5")?.Url() ?? "";
    var teamImage6 = Model?.Value<IPublishedContent>("TeamImage6")?.Url() ?? "";
    var teamImage7 = Model?.Value<IPublishedContent>("TeamImage7")?.Url() ?? "";
    
}

<section class="about-navigation">
        <div class="wrapper bg-gray">
            <img class="background-image" src="Images/AboutImage.svg">
            <div class="container">
                <div class="grid-item">
                    <h2>@Model.Value("aboutSectionTitle")</h2>
                </div>
                <div class="grid-item breadcrumbs">
                    <a href="/"><h5>Home</h5></a>
                    <div class="separator">></div>
                    <a href="/onatrix-about-page/"><h5>About</h5></a>
                </div>
            </div>
        </div>
</section>

<section class="ceo-section">
    <div class="wrapper">
        <div class="grid-container">
            <div class="grid-item">
                <img src="@ceoImage">
                <p>@Model.Value("ceoFounder")</p>
            </div>
            <div class="grid-item">
                <h5>@Model.Value("ceoHeadline")</h5>
                <p>@Model.Value("ceoText")<p>
        </div>
    </div>
</section>

<section class="review-section">
    <div class="wrapper bg-gray">
        <div class="grid-container">
            <div class="grid-item">
                <h6>@Model.Value("reviewSectionTitle")</h6>
                <h2>@Model.Value("reviewHeadline")</h2>
                <p>@Model.Value("reviewText")</p>
                <img src="@reviewRatingImage">
                <p>@Model.Value("reviewName")</p>
                <h5>@Model.Value("reviewOccupation")</h5>
            </div>
            <div class="grid-item">
                <img class="review-image" src="@reviewImage">
            </div>
        </div>
    </div>
</section>

<section class="team-section">
    <div class="wrapper">
        <div class="container">
            <h6>OUR EXPERTS</h6>
            <h2>A team of professionals with years of experience</h2>
            <div class="flex-container-3">
                <div class="card">
                    <img src="@teamImage1">
                    <h5>Brandon Newton</h5>
                    <p>Financial Advisor at Onatrix</p>
                </div>
                <div class="card">
                    <img src="@teamImage2">
                    <h5>Brandon Newton</h5>
                    <p>Financial Advisor at Onatrix</p>
                </div>
                <div class="card">
                    <img src="@teamImage3">
                    <h5>Brandon Newton</h5>
                    <p>Financial Advisor at Onatrix</p>
                </div>
            </div>
            
            <div class="flex-container-4">
                <div class="card">
                    <img src="@teamImage4">
                    <h5>Brandon Newton</h5>
                    <p>Financial Advisor at Onatrix</p>
                </div>
                <div class="card">
                    <img src="@teamImage5">
                    <h5>Brandon Newton</h5>
                    <p>Financial Advisor at Onatrix</p>
                </div>
                <div class="card">
                    <img src="@teamImage6">
                    <h5>Brandon Newton</h5>
                    <p>Financial Advisor at Onatrix</p>
                </div>
                <div class="card">
                    <img src="@teamImage7">
                    <h5>Brandon Newton</h5>
                    <p>Financial Advisor at Onatrix</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-section">
    <div class="wrapper">
        <div class="grid-container">
            <div class="grid-item">
                <img class="background-image" src="Images/BackgroundImage3.svg">
                <img class="glassesguy" src="Images/GlassesGuyImage.svg" alt="Glasses Guy Image">
            </div>
            <div class="grid-item">
                <h2>Let us know about your next project</h2>
                
                <div class="icon-text">
                    <i class="fa-light fa-location-dot"></i>
                    <h5>Office location</h5>
                </div>
                <p>Klarabergsviadukten 90, 111 52 Stockholm</p>
                
                <div class="icon-text">
                    <i class="fa-light fa-phone"></i>
                    <h5>Phone number</h5>
                </div>
                <p>+46 8 123 456 75</p>

                <div class="icon-text">
                    <i class="fa-light fa-envelope"></i>
                    <h5>E-mail address</h5>
                </div>
                <p>sales@onatrix.com</p>
            </div>
        </div>
    </div>
</section>