@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle")?.ToString() ?? null;

    var riskImage = Model?.Value<IPublishedContent>("servicesRiskImage")?.Url() ?? "";
    var bondsImage = Model?.Value<IPublishedContent>("servicesBondsImage")?.Url() ?? "";
    var assuranceImage = Model?.Value<IPublishedContent>("servicesAssuranceImage")?.Url() ?? "";
    var taxImage = Model?.Value<IPublishedContent>("servicesTaxImage")?.Url() ?? "";
    var financialImage = Model?.Value<IPublishedContent>("servicesFinancialImage")?.Url() ?? "";
    var statisticImage = Model?.Value<IPublishedContent>("servicesStatisticImage")?.Url() ?? "";
    var navigationImage = Model?.Value<IPublishedContent>("servicesNavigationImage")?.Url() ?? "";
    var contactBackgroundImage = Model?.Value<IPublishedContent>("contactBackgroundImage")?.Url() ?? "";
    var contactImage = Model?.Value<IPublishedContent>("contactImage")?.Url() ?? "";
}

<section class="service-navigation">
    <div class="wrapper bg-gray">
        <img class="background-image" src="@navigationImage">
        <div class="container">
            <div class="grid-item">
                <h2>Our Services</h2>
            </div>
            <div class="grid-item breadcrumbs">
                <a href="/home.html"><h5>Home</h5></a>
                <div class="separator">></div>
                <a href="/services.html"><h5>Services</h5></a>
            </div>
        </div>
    </div>
</section>

<section class="service-section">
    <div class="wrapper">
        <div class="grid-container">
            <div class="grid-item">
                <h3>@Model.Value("servicesSectionTitle")</h3>
                <h2>@Model.Value("servicesHeadline")</h2>
            </div>
            <div class="grid-item bg-light">
                <h4>@Model.Value("servicesRiskHeadline")</h4>
                <img src="@riskImage" alt="">
                <p>@Model.Value("servicesRiskText")</p>
            </div>
            <div class="grid-item bg-light">
                <h4>@Model.Value("servicesBondsHeadline")</h4>
                <img src="@bondsImage" alt="">
                <p>@Model.Value("servicesBondsText")</p>
            </div>
            <div class="grid-item bg-light">
                <h4>@Model.Value("servicesAssuranceHeadline")</h4>
                <img src="@assuranceImage" alt="">
                <p>@Model.Value("servicesAssuranceText")</p>
            </div>
            <div class="grid-item bg-light">
                <h4>@Model.Value("servicesTaxHeadline")</h4>
                <img src="@taxImage" alt="">
                <p>@Model.Value("servicesTaxText")</p>
            </div>
            <div class="grid-item bg-light">
                <h4>@Model.Value("servicesAdvisorHeadline")</h4>
                <img src="@financialImage" alt="">
                <p>@Model.Value("servicesFinancialText")</p>
            </div>
            <div class="grid-item bg-light">
                <h4>@Model.Value("servicesStatisticHeadline")</h4>
                <img src="@statisticImage" alt="">
                <p>@Model.Value("servicesStatisticText")</p>
            </div>
        </div>
    </div>
</section>

<section class="contact-section">
    <div class="wrapper">
        <div class="grid-container">
            <div class="grid-item">
                <img class="background-image" src="@contactBackgroundImage">
                <img class="glassesguy" src="@contactImage" alt="Glasses Guy Image">
            </div>
            <div class="grid-item">
                <h2>@Model.Value("contactHeadline")</h2>
                
                <div class="icon-text">
                    <i class="fa-light fa-location-dot"></i>
                    <h5>@Model.Value("contactLocationHeadline")</h5>
                </div>
                <p>@Model.Value("contactLocationText")</p>
                
                <div class="icon-text">
                    <i class="fa-light fa-phone"></i>
                    <h5>@Model.Value("contactPhoneNumberHeadline")</h5>
                </div>
                <p>@Model.Value("contactPhoneNumberText")</p>

                <div class="icon-text">
                    <i class="fa-light fa-envelope"></i>
                    <h5>@Model.Value("contactEmailHeadline")</h5>
                </div>
                <p>@Model.Value("contactEmailText")</p>
            </div>
        </div>
    </div>
</section>